/* Create a default style either mobile or desktop. recommended mobile*/
/* font-size-rem
Padding and margin = em
width= percentage and em */
/* Background */
body{
    font-size: 1.125rem;
    color: gray;
    margin: 0;
    border: 2px solid red;
}
/* Typography */
h1{
    font-size: 3rem;
    color: #212614;
}

h2{
    font-size: 1.5rem;
    color: #b7832f;;
}

/* layout */
img{
    max-width: 100%;
}
.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    border: 2px solid red;

}

#navigation{
    text-align: center;
    border: 2px solid blue;
}
.navigation{
    display: flex;
    position: sticky;
    list-style: none;
    border: 2px solid red;
    justify-content: space-evenly;
    padding: 0;
}

.experience-container{
    display: flex;
    flex-direction: column; /*change with media screen*/
}


/* create media queries for larger screen sizes */
