/* Create a default style either mobile or desktop. recommended mobile*/
/* font-size-rem Padding and margin = em width= percentage and em */


/* Default style is mobile */
/* Background */
body{
    font-size: 1.125rem;
    color: lightblue;
    background-color: #333;
    margin: 0;
    /* border: 2px solid red; */
    text-align: center;
}
/* Typography */
h1{
    font-size: 3rem;
    color: #212614;
}

h2{
    font-size: 1.5rem;
    color: lightblue;
    text-align: center;
}

h3{
    font-size: 1rem;
    color: lightblue;
    margin:0;
    margin-bottom:0.5rem;
}

h4{
    font-size: 1rem;
    color: lightblue;
    margin:0;
    margin-bottom:0.5rem;
    padding:0
}

p{
    font-size: 1rem;
    color: whitesmoke;
    padding: 0px;
    margin: 0
}

#connect{
    text-align: center;
}
/* layout */
img{
    height: auto;
    width: 100%;
    min-width: 360px;
    max-width: 500px;
    border-radius: 1em;
    
    
}

.container-wrapper{
    position:sticky;
    top:0;
    padding-bottom: 1rem;
    background-color: #333;
}
.container-nav{
    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    width: 100%;
    /* border: 4px solid green; */
    margin: 0 auto;
    padding: 0;
    position:sticky;
    top:0px;
}


.navigation-list{
    /* border: 1px solid magenta; */
  
    list-style:none;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: space-around;
 }


.navigation-list-item{
    /* border: 2px dotted orange; */
    margin: 0 ;
    padding: 0;
}

.navigation-link{
    /* border: 3px solid green; */
    text-decoration:none;
    color: whitesmoke;
    font-weight: 550;
    margin: 0.3rem;
}

.navigation-link:hover,
.navigation-link:focus
{
    color: #1792d2;
}

/* google fonts for my name */
.delius-swash-caps-regular {
    font-family: "Delius Swash Caps", serif;
    font-weight: 200;
    text-align: center;
    color: #f8f8f8;
}

.skill-ul{
    display: grid;
    grid-template-columns: 7em 7em;
    grid-template-rows: auto;
    grid-template-areas: 
    "skill skill"
    "skill skill" 
    "skill skill";
    justify-content: center;
    padding: 0;
    gap: 20px;
    list-style:none;
}

.experience-container{
    display: flex;
    flex-direction: column; 
    /* border: 2px solid red; */
}


/* Connect */
#connect{
    display: flex;
    justify-content:space-around;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
}

.social-links:hover{
    color: lightblue;
}


/* Forms styling */
form {
    width: 50%;
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  input:focus, textarea:focus {
    border-color: green;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  form > * {
    margin-bottom: 15px;
  }
  

/* create media queries for larger screen sizes */
/* from a minimum width of 760px (tablet) and bigger */

@media screen and (min-width:760px){
   

    body{
        max-width: 760px;
        margin: 0 auto;
        background: lightslategray;
    }

    .container-wrapper{
        position:sticky;
        top:0;
        padding-bottom: 1rem;
        background-color: lightslategray;
    }
    .container-nav{
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .skill-ul{
        display: grid;
        grid-template-columns: 7em 7em 7em;
        grid-template-rows: auto;
        grid-template-areas: 
        "skill skill skill"
        "skill skill skill";
        justify-content: center;
        padding: 0;
        gap: 20px;
        list-style:none;
    }
    .experience-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .detail-1,
    .detail-2,
    .detail-3{
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 0 0.5rem;
        /* border: 2px solid blue; */
        }
    


      
    }



/* from a minimum width of 992px(laptops and desktops) and bigger */
@media screen and (min-width:992px){
    body{
        max-width: 100%;
        margin: 0 auto;
        background: darkolivegreen;
    }

    .container-wrapper{
        position:sticky;
        top:0;
        padding-bottom: 1rem;
        background-color: darkolivegreen;
}
}


/* from a minimum width of 1200px(larger screens) and bigger */
@media screen and (min-width:1200px){
    .container-wrapper{
        position:sticky;
        top:0;
        padding-bottom: 1rem;
        background-color: darkblue;
    }
    .container-nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
    }

    .navigation-list-item{
        /* border: 2px dotted orange; */
        padding-top: 1em;
    }

    body{
        max-width: 900px;
        margin: 0 auto;
        background: darkblue;
    }

    .skill-ul{
        display: grid;
        grid-template-columns: 15em 15em 15em;
        grid-template-rows: auto;
        grid-template-areas: 
        "skill skill skill"
        "skill skill skill";
        justify-content: center;
        padding: 0;
        gap: 30px;
        list-style:none;
    }

    .detail-1,
    .detail-2,
    .detail-3{
        flex-direction: row;
        width: 30%;
        padding: 0;
        gap:25px;
        /* border: 2px solid blue; */
        }
}