

h1 {
    font-size: 72;
}

h2{
    color: white;
}


#About{
    padding: 30px;
    width: auto;
}

#Experience{
    padding: 30px;
    width: auto;
}

#Connect{
    padding: 30px;
    width: auto;
}